<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <%if micropost.is_sticky && current_user.id == micropost.user.id%><span class="user"><i>(It's a sticky post. Will always remain on top)</i></span><%end%>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <%if micropost.topics.any?%>
    <span class="content topic_link_wrapper">
      <i><strong>Topics: </strong></i>
      <%micropost.topics.each {|topic|%>
        <%#= link_to topic.name, show_by_topic_microposts_path(topic: topic.name) %>
        <%= link_to topic.name, "/microposts/show_by_topic/#{topic.name}", class: "topic_link" %>&nbsp;
      <%}%>
    </span>
  <%end%>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>